%div.home
  %h1 Artist Library
  %div.home_page
    -# %div This is a site to store pictures that you like from and online source without downloading the image
    -# %h2 Features:
    -# %li Take pictures from an online source and post them
    -# %li Click on your username to return to your profile
    -# %li View recently posted images
    -# %li Search for tags
    -# %h2 Usage
    -# %li Copy the images url
    -# %li Paste it into the 'Add Picture' form
    -# %li BAM! All done!

%div.field_holder
  %p.text Sign Up Here
  %ul
    = form_for(@user) do |f|
      %li.special_li
        = f.label :email
      %li.special_li
        = f.text_field :email

      %li.special_li
        = f.label :username
      %li.special_li
        = f.text_field :username

      %li.special_li
        = f.label :password
      %li.special_li
        = f.password_field :password

      %li.special_li
        = f.label :password_confirmation
      %li.special_li
        = f.password_field :password_confirmation

      =f.submit 'Sign Up', class: 'enter'

  %div
    %p.text Previous user?
    = form_tag(sessions_path) do
      %li.special_li
        = label_tag :email
      %li.special_li
        = text_field_tag :email, nil

      %li.special_li
        = label_tag :password
      %li.special_li
        = password_field_tag :password, nil
      %li.special_li
        = submit_tag 'Sign In', class: 'enter'
