%div.username
  %ul.user_info
    = @user.username
  %ul.user_info
    = @user.bio
  %div.username_holder
    = link_to 'Sign Out', sign_out_path, method: :delete, id: 'sign_out'
    = link_to 'Add Picture', new_image_path, class: 'add'

%div.view_images
  - @images.reverse_each do |image|
    - if image.present?
      %div.image
        %span#image_url
          = image_tag image.url
        %ul.description
          = image.description
          %p
            Tags:
            %span#tag
              = image.tag
