%div.search
  = form_tag(images_path, method: :get) do
    = text_field_tag :tag, nil, placeholder: 'Search For Tags', id: 'search_bar'
    = submit_tag 'Search', class: 'search_button'

%div.categories
  - current_user.images.pluck(:category_name).uniq.each do |category_name|
    = link_to category_name, images_path(category: category_name), class: 'categories_link'

%div.image_div
  %p
    Your Pictures:
  - if @images.empty?
    %p
      You don't have any images

  %table
    - @images.each do |image|
      %td
        = image_tag image.url, class: 'image_url'
        %p#full_size
          = link_to 'Full Size Image', image_path(image.id)
        %ul
          %li
            %p#tags
              Category:
              %span= image.category_name
          %li
            %p#tags
              Tags:
              - image.tags.each do |tag|
                %span= tag.name
            = link_to 'Delete Image', image_path(image), method: :delete, confirm: 'Are You Sure?', id: 'delete'
= will_paginate @images
