%div.search
  = text_field_tag :tag, nil, placeholder: 'Search For Tags', id: 'search_bar'
  = submit_tag 'Search', class: 'search_button'

  %div
    %p.p_text
      Your Pictures:
    - if @images.empty?
      %p.p_text
        You don't have any images
    - @images.each do |image|
      %div.view_image
        = image_tag image.url, class: 'image_url'
        %p
          = link_to 'Full Size Image', image.url
        %ul.description
          = image.description
          %p
            Tags:
            - image.tags.each do |tag|
              %span.tag= tag.name
          = link_to 'Delete Image', image_path(image), method: :delete, class: 'anchor', id: 'delete'
= will_paginate @images
