%div.field_holder#new_picture
  %p.text_for_new_image From online source?
  = form_for(@image) do |f|
    = f.hidden_field :user_id, value: current_user.id

    %li= f.label :'image url'
    %li= f.text_area :url, placeholder: 'Image Url'

    %li= f.label :Category
    %li= f.text_field :category_name, class: 'auto_complete'

    %li
      = f.fields_for(:tags, @tags) do |ff|
        = render 'tag_field', ff: ff

    = f.submit 'Add Image', class: 'enter'
