!!!
%head
  = javascript_include_tag "application", media: 'all'
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"
  = stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"
  = stylesheet_link_tag    "application", media: "all"
  = csrf_meta_tags
  %title
    Artistlibrary

%body#main
  %div#header
    - if current_user.present?
      %h1= link_to 'ArtistLibrary', images_path, id: 'title'
    - else
      %h1#title ArtistLibrary
    - if current_user.present?
      %ul.layout_ul
        %li
          %span#username_link
            = current_user.username
          %span#headerlink
            = link_to 'Add Picture', new_image_path, id: 'add'
            = link_to 'Sign Out', sign_out_path, method: :delete, id: 'sign_out'
    = yield
