%head
  %title Artistlibrary
  = stylesheet_link_tag    "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
- if current_user.present?
  %div.header
    %ul
      = link_to @user.username, images_path, id: 'username_link'
    %ul
      = @user.bio
    %ul
      = link_to 'Sign Out', sign_out_path, method: :delete, id: 'sign_out'

    %div.header_link
      = link_to 'All Pictures', other_images_path, class: 'anchor', id: 'recent'
      = link_to 'Add Picture', new_image_path, class: 'anchor', id: 'add'

%body#main
  = yield
